extends layout
block content  
    //-  Main container 
    div.container-fluid
        div.row
            //- Side bar
            div.d-none.col-lg-2.d-lg-block#admin-list
                include include/staff_sidebar
                //- ul
                //-     li.py-2
                //-         a.pl-1.py-2(href="/") New Agent
                //-     li.py-2
                //-         a.pl-1.py-2(href="/") Agents' List
                //-     li.py-2
                //-         a.pl-1.py-2(href="/") New Product
                //-     li.py-2
                //-         a.pl-1.py-2(href="/") Product List
                //-     li.py-2
                //-         a.pl-1.py-2(href="/") Create a new client
            //- End sidebar
            div.col-md-12.col-lg-10
                div.row
                    div.col-md-8.offset-md-2
                        //- Client registration form
                        //- Handle scroll with css of this section
                        form.my-4.register
                            h3.text-center Client Registration/ Purchase Form
                            //- Personal data
                            fieldset.client-register-detail.mb-2
                                legend Personal Data
                                div.form-row
                                    div.form-group.col-md-8
                                        label(for="fname") Full Name
                                        input.form-control#fname(type="text")
                                    div.form-group.col-md-4
                                        label(for="national_id") National ID
                                        input.form-control#national_id(type="text")

                                div.form-row
                                    div.form-group.col-md-4
                                        label(for="phone") Phone Number
                                        input.form-control#phone(type="text")
                                    div.form-group.col-md-4
                                        label(for="email") Email Address
                                        input.form-control#email(type="email")
                                    div.form-group.col-md-4
                                        label(for="location") Physical Address
                                        input.form-control#location(type="text")
                            //- End personal data

                            //-  Product data
                            fieldset.client-register-detail.mb-2
                                legend Product Data
                                div.form-row
                                    div.form-group.col-md-4
                                        label(for="item-name") Product Name
                                        input(type="text").form-control#item-name
                                    div.form-group.col-md-4
                                        label(for="serial-no") Serial Number
                                        input(type="text").form-control#serial-no
                                    div.form-group.col-md-4
                                        label(for="purchase-receipt") Purchase Receipt
                                        input(type="text").form-control#purchase-receipt   
                                div.form-row
                                    div.form-group.col-md-4
                                        label(for="tot-price") Total Price
                                        input(type="text").form-control#tot-price
                                    div.form-group.col-md-4
                                        label(for="initial-pay") Initial Pay
                                        input(type="text").form-control#initial-pay
                                    div.form-group.col-md-4
                                        label(for="pay-date") Date of Pay
                                        input(type="date").form-control#pay-date
                                div.form-row
                                    div.form-group.col-md-4
                                        label(for="next-pay") Next Payment Amount
                                        input(type="text").form-control#next-pay
                                    div.form-group.col-md-4
                                        label(for="next-date") Next Payment Date
                                        input(type="date").form-control#next-date
                                    div.form-group.col-md-4
                                        label(for="ref-num") Referee Number
                                        input(type="text").form-control#ref-num
                                        small Already existing client
                            //- End product data 

                            button(type="submit").btn.btn-block Register Client
                            
                            //- End client registration form 
                

    //- End main container 
