extends layout
block content  
    //-  Main container 
    div.container-fluid
        div.row
            //- Side bar
            div.d-none.col-lg-2.d-lg-block#admin-list

                include include/staff_sidebar
            //- End sidebar
            div.col-md-12.col-lg-10
                div.row
                    div.col-md-8.offset-md-2
                        //- Client registration form
                        //- Handle scroll with css of this section
                        form.my-4.register(action="/client/register", method="POST")
                            h3.text-center Client Registration/ Purchase Form
                            //- Personal data
                            fieldset.client-register-detail.mb-2
                                //- legend 
                                div.form-row
                                    div.form-group.col-md-5
                                        label(for="cname") Full Name
                                        input.form-control#cname(type="text" name="cname")
                                    div.form-group.col-md-4
                                        label(for="clocation") Location
                                        input.form-control#national_id(type="text" name="clocation")
                                    div.form-group.col-md-3
                                        label(for="cphone") Phone Number
                                        input.form-control#phone(type="number", name="cphone", min="100000000")

                                div.form-row
                                    div.form-group.col-md-4
                                        label(for="cemail") Email Address
                                        input.form-control#cemail(type="email", name="cemail")
                                    div.form-group.col-md-4
                                        label(for="cinitialPay") Initial Pay
                                        input.form-control#cinitialPay(type="number", name="cinitialPay")
                                    div.form-group.col-md-4
                                        label(for="cnid") National ID
                                        input.form-control#cnid(type="text", name="cnid")
                            //- End personal data

                            //-  Product data
                            fieldset.client-register-detail.mb-2
                                //- legend Product Data
                                div.form-row
                                    div.form-group.col-md-4
                                        label(for="citemName") Item Name
                                        input(list="citemNames" name="citemName").form-control#citemName
                                        datalist(id="citemNames")
                                            each product in products
                                                option(value=product.pdt_name)
                                        
                                    div.form-group.col-md-4
                                        label(for="itemSerial") Item Serial Number
                                        input(list="itemSerials" name="itemSerial").form-control#itemSerial
                                        datalist(id="itemSerials")
                                            each product in products
                                                option(value=product.serial_no)

                                    div.form-group.col-md-4
                                        label(for="nextPayDate") Next Date of Pay 
                                        input(type="date" name="nextPayDate").form-control#nextPayDate   
                                div.form-row
                                    div.form-group.col-md-6
                                        label(for="nextPayAmt") Next Pay Amount
                                        input(type="number" name="nextPayAmt").form-control#nextPayAmt
                                    div.form-group.col-md-6
                                        label(for="refereeNo") Referee Number
                                        input(list="refereeNos" name="refereeNo").form-control#refereeNo
                                        datalist(id="refereeNos")
                                            each client in clients
                                                option(value=client.crefNo)
                                            
                                         
                            //- End product data 

                            button(type="submit").btn.btn-block Purchase Product
                            
                            //- End client product purchase form 
                

    //- End main container 
