doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Dynamic - covid Stores
    //- CSS links
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet")
    link(rel="stylesheet" href="css/style.css")

  body
    //- Nav bar
    nav.navbar.navbar-expand-lg.navbar-light#nav-bg
      //- Logo section
      a.navbar-brand(href="#") CvStores
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      //- Nav links
      div.collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto#nav-list-links
          li.nav-item
            a.nav-link(href="/") Home
          li.nav-item
            a.nav-link(href="/new_product") Furniture
          li.nav-item
            a.nav-link(href="#") Machinery
      //- Left button
      form.form-inline.my-2.my-lg-0
        a.btn.my-2.my-sm-0(href="/login" role="button" style="background: white; color: #eb612a; font-weight: bold; font-size: 15px;") Staff LogIn
    //- End Navbar

    //- Main container
    section.products
      div.section-title
        h2 Our products
      div.products-center
        //- Single product
        article.product
          div.img-container
            img.product-img(src="img/home.jpg" alt="products")
            button.bag-btn Ugx. 500,000
            div.detail
              h3 Kettle
              h4 LTPP
              //- End single product
        
        //- Single product 
        article.product
          div.img-container
            img.product-img(src="img/home.jpg" alt="products")
            button.bag-btn Ugx. 500,000
            div.detail
              h3 Kettle
              //- h4 LTPP
          //- End single product           
    //- End main container

    //- Footer 
    footer.mt-3
      div.container
        div.row
          div.offset-md-2.col-md-8.pt-2
            div.row
              //- First links
              div.col-md-6
                p.text-light(style="text-transform: uppercase; font-weight: bold;") Contact
                ul.nav.flex-column
                  li.nav-item
                    a.nav-link.text-primary(href="#") 075596958849
                  li.nav-item
                    a.nav-link.text-primary(href="#") orlin@engineer.com
                  li.nav-item
                    a.nav-link.text-primary(href="#") Visit us
              //- End first links

              //- Second links
              div.col-md-6
                p.text-light(style="text-transform: uppercase; font-weight: bold;") Inquiry  
                ul.nav.flex-column
                  li.nav-item
                    a.nav-link.text-primary(href="#") Logo a complaint
                  li.nav-item
                    a.nav-link.text-primary(href="#") Our Services
                  li.nav-item
                    a.nav-link.text-primary(href="#") Location &amp; Branches
              //- End Second link or &#38;
        
        //- Copyright section
        div.container.last-item
          div.row
            div.col-md-12.text-center.my-3.text-light &copy; Copyright : Isaac S 2020
    //- End footer


  //- JS, Popper.js, and jQuery
  script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")

