extends layout
block content
    //-  Main container
    div.container-fluid
        div.row
            div.d-none.col-lg-2.d-lg-block#admin-list

                include include/staff_sidebar 

            div.col-md-12.col-lg-10
                div.row
                    div.col-md-8.offset-md-2
                        //- Client registration form
                        //- Handle scroll with css of this section
                        form.my-4.register#agentForm(action="/staff/new" method="POST", name="agentForm")
                            h3.text-center Agent Registration Form
                            //- Personal data
                            input(type="hidden")
                            fieldset.client-register-detail.mb-2
                                //- legend Personal Data
                                div.form-row
                                    div.form-group.col-md-6
                                        label(for="fname") First Name
                                        input.form-control#fname(type="text" name="fname")
                                        small(class="error" id="firstErr")

                                    div.form-group.col-md-6
                                        label(for="lname") Last Name
                                        input.form-control#make(type="text" name="lname")
                                        small(class="error" id="lastErr")

                                div.form-row
                                    div.form-group.col-md-4
                                        label(for="username") Username
                                        input.form-control#username(type="text" name="username")
                                        small(class="error" id="userErr")

                                    div.form-group.col-md-4
                                        label(for="email") Email
                                        input.form-control#email(type="text" name="email")
                                        small(class="error" id="emailErr")

                                    div.form-group.col-md-4
                                        label(for="phone") Phone Number
                                        input.form-control#phone(type="number" name="phone")
                                        small(class="error" id="phoneErr")
                
                            fieldset.client-register-detail.mb-2
                                //- legend Product Data
                                div.form-row
                                    div.form-group.col-md-5
                                        label(for="eid") Employee ID
                                        input(type="text" name="eid").form-control#eid
                                        small(class="error" id="eidErr")

                                    div.form-group.col-md-5
                                        label(for="nid") National ID
                                        input(type="text" name="nid").form-control#nid
                                        small(class="error" id="nidErr")

                                    div.form-group.col-md-2
                                        label(for="role") Select role
                                        select.form-control#role(name="role")
                                            each role in roles
                                                option(value=role.role) #{role.role}
                                        small(class="error" id="roleErr")
            
                                div.form-row
                                    div.form-group.col-md-6
                                        label(for="password") Create a Password
                                        input.form-control#password(type="password" name="password")
                                        small(class="error" id="passErr")

                                    div.form-group.col-md-6
                                        label(for="c_password") Confirm Password
                                        input.form-control#c_password(type="password" name="c_password")
                                        small(class="error" id="c_passErr")                                

                            button(type="submit").btn.btn-block Create Agent
                            
                            //- End Sales Registration form 
                

    //- End main container 

    
        
    
        