extends layout
block content
    //-  Main container
    div.container-fluid
        div.row
            div.d-none.col-lg-2.d-lg-block#admin-list
                
                include include/staff_sidebar 

            div.col-md-12.col-lg-10
                .row.ml-1
                    .col-xs-6.col-sm-4.col-md-3.py-2.pl-2.pr-2
                        //- Staff list
                        div.card#staff-card
                            img.card-img-top(src="/img/noimage.jpg" alt="...")
                            div.card-body
                                h5.card-title Card title
                                a.btn.btn-warning(href="#")
                                    i.icon-edit

                    .col-xs-6.col-sm-4.col-md-3.py-2.pl-2.pr-2   
                        //- Staff list
                        div.card#staff-card
                            img.card-img-top(src="/img/noimage.jpg" alt="...")
                            div.card-body
                                h5.card-title Card title
                                a.btn.btn-warning(href="#")
                                    i.icon-edit

                    .col-xs-6.col-sm-4.col-md-3.py-2.pl-2.pr-2
                        //- Staff list
                        div.card#staff-card
                            img.card-img-top(src="/img/noimage.jpg" alt="...")
                            div.card-body
                                h5.card-title Card title
                                a.btn.btn-warning(href="#")
                                    i.icon-edit

                    .col-xs-6.col-sm-4.col-md-3.py-2.pl-2.pr-2
                        //- Staff list
                        div.card#staff-card
                            img.card-img-top(src="/img/noimage.jpg" alt="...")
                            div.card-body
                                h5.card-title Card title
                                a.btn.btn-warning(href="#")
                                    i.icon-edit

                    .col-xs-6.col-sm-4.col-md-3.py-2.pl-2.pr-2
                        //- Staff list
                        div.card#staff-card
                            img.card-img-top(src="/img/noimage.jpg" alt="...")
                            div.card-body
                                h5.card-title Card title
                                a.btn.btn-warning(href="#")
                                    i.icon-edit

                    .col-xs-6.col-sm-4.col-md-3.py-2.pl-2.pr-2   
                        //- Staff list
                        div.card#staff-card
                            img.card-img-top(src="/img/noimage.jpg" alt="...")
                            div.card-body
                                h5.card-title Card title
                                a.btn.btn-warning(href="#")
                                    i.icon-edit

    
        