extends layout
block content
    //- Login Container
    div#login
        form(action="/staff/login" method="post")
            h3 Staff Login
            div.form-grouped
                input(type="text" placeholder="Enter Username" name="username")
                small Error

            div.form-grouped
                input(type="password" placeholder="Type Password" name="password")
                small Error

            div.form-group
                input#pass-show(type="checkbox") 
                label(style="margin-left: 10px;") Show password

            button.btn.btn-block(type="submmit") Log In
            //- a(href="/admin" role="button").btn.btn-block Log In

    //- End Login Container
