nav.navbar.navbar-expand-lg.navbar-light#nav-bg 
    //- Logo section
    a.navbar-brand(href="#") 
        img(src="/img/logo_bar.png", alt="" style="width:85px; height: 30px;")
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    //- Nav links
    div.collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto#nav-list-links
            li.nav-item(class=(title == 'Home' ? 'change' : ''))
                a.nav-link(href="/") Home
            li.nav-item(class=(title == 'Electronics' ? 'change' : ''))
                a.nav-link(href="/product/electronics") Electronics
            li.nav-item(class=(title == 'Furniture' ? 'change' : ''))
                a.nav-link(href="/product/furniture") Furniture
            li.nav-item(class=(title == 'Machinery' ? 'change' : ''))
                a.nav-link(href="/product/machinery") Machinery
            li.nav-item(class=(title == 'Fitness' ? 'change' : ''))
                a.nav-link(href="/product/fitness") Fitness
            
        //- Left button
        form.form-inline.my-2.my-lg-0
            a.btn.my-2.my-sm-0(href="/staff/login" role="button" style="background: white; color: #eb612a; font-weight: bold; font-size: 15px;") Staff LogIn