ul
    li.py-2(class=(title == 'Admin Panel' ? 'active-section' : ''))
        a.pl-1.py-2(href="/admin") Admin Panel
    li.py-2(class=(title == 'New Staff' ? 'active-section' : ''))
        a.pl-1.py-2(href="/staff/new") New Agent
    li.py-2(class=(title == 'Staff List' ? 'active-section' : ''))
        a.pl-1.py-2(href="/staff/list") Staff List
    li.py-2(class=(title == 'New Product' ? 'active-section' : ''))
        a.pl-1.py-2(href="/product/new") New Product
    li.py-2(class=(title == 'Product List' ? 'active-section' : ''))
        a.pl-1.py-2(href="/product/list") Product List
    li.py-2(class=(title == 'New Client' ? 'active-section' : ''))
        a.pl-1.py-2(href="/client/register") New client