ul
    li.py-2
        a.pl-1.py-2(href="/staff/new") New Agent
    li.py-2
        a.pl-1.py-2(href="/staff/list") Staff List
    li.py-2
        a.pl-1.py-2(href="/product/new") New Product
    li.py-2
        a.pl-1.py-2(href="/product/list") Product List
    li.py-2
        a.pl-1.py-2(href="/client/register") New client