ul
    li.py-2
        a.pl-1.py-2(href="/") New Agent
    li.py-2
        a.pl-1.py-2(href="/") Agents' List
    li.py-2
        a.pl-1.py-2(href="/") New Product
    li.py-2
        a.pl-1.py-2(href="/") Product List
    li.py-2
        a.pl-1.py-2(href="/") Create a new client